<!--
  Generated template for the TicketsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>tickets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>HIEEEEEE</h1>

    <section class="members alltickets_members">
      



        <div class="tickets">
            <ul><li *ngFor="let ticket of tickets" (click)="chat()">

        <div class="img_ticket">
        <img src="http://139.59.3.57/psd/seamless/images/linda-big.png" />
        </div>
        <div class="text_ticket">
       
        <h3>{{ticket}}</h3>
        <span class="days">{{today | date:'short'}}</span>
        <p class="alltick-text">Latest message with BADGE of new messages to be displayed in 1 or 2 lines</p>
        
        </div>
      </li></ul>
        </div>

      
        

        
      
        

        
        </section>
        



</ion-content>
