<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <img src="assets/img/ionic-logo-white.svg" alt="ionic logo">
  </div>
  <div padding class="about-info">
    <h4>Ionic Conference</h4>

  

    <ion-list no-lines>
        >

      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <ion-label>SELECT DATE</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" max="2056" [(ngModel)]="conferenceDate"></ion-datetime>
      </ion-item>

     <ion-item>
      <ion-label stacked color="primary">AMOUNT</ion-label>
       <ion-input type="text" aria-placeholder="amount spent..." [(ngModel)]="amount" required></ion-input>
     </ion-item>

     <ion-item>
      <button ion-button (click)="onsplit()" type="submit" block>POST</button>
     </ion-item>

    </ion-list>

    <p>
     {{amount}}
    </p>
  </div>

  <div class="animatebox">
    
  </div>
</ion-content>
