<!--
  Generated template for the ReorderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>reorder</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <section class="members details team-member">
        <div class="members-access">
        <div class="img_name upload" style="border:none;">
        <div class="img common-class record-hdr-img"><img src="images/linda-big.png"></div>
        <div class="text common-class record-hdr-title"><h4 class="take">Linda L's<br>Medication</h4></div>
        </div>
        
        <div class="reorder-title-border">
        <div class="box-background">
        <h4>ReOrders</h4>
        </div>
        </div>
        <div class="img_name upload with_name met_formin loraze_pam">
        <div class="img common-class"><div class="check-box"><input type="checkbox" class="okay-btn" name="tst" /><div class="check"></div></div><h4>Lorazepam 2 mg</h4><p class="reorder-par-txt">Dr.A. Homested<br>Take one table by mouth<br> twice daily for 10 days</p></div>
        <div class="text common-class"><a href="javascript:;">...</a></div>
        </div>
        <div class="img_name upload with_name met_formin loraze_pam">
        <div class="img common-class"><div class="check-box"><input type="checkbox" class="okay-btn" name="tst" /><div class="check"></div></div><h4>Tylenol 3, Take one tablet</h4><p class="reorder-par-txt">Daily when needed</p></div>
        <div class="text common-class"><a href="javascript:;">...</a></div>
        </div>
        
        <div class="reorder">
        <a href="javascript:;">ReOrders</a>
        </div>
        <div class="reorder-title-border">
        <div class="box-background">
        <h4>Auto Fill</h4>
        </div>
        </div>
        
        
        <div class="img_name upload with_name met_formin loraze_pam loraze_pamm">
        <div class="img common-class"><h4 class="re-order-title"><b>Lorazeoam 2 mg</b><br>Every 30 days<br>Coming in 2 days</h4><button class="no-btn">7</button></div>
        <div class="text common-class"><label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label></div>
        </div>
        <div class="img_name upload with_name met_formin loraze_pam loraze_pamm">
        <div class="img common-class"><h4 class="re-order-title"><b>Tylenol 3</b><br>30 tabs Every 15 days<br>Comeing in 25 days</h4><button class="no-btn">30</button></div>
        <div class="text common-class"><label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label></div>
        </div>
        
        
        <div class="reorder reorderr">
        <a href="javascript:;">Request Autofill Change</a>
        </div>
        </div>
        </section>
        

</ion-content>
