<ion-tabs [selectedIndex]="mySelectedIndex" name="conference">
  <ion-tab [root]="tab1Root" tabTitle="Newsfeed" tabIcon="calendar" tabUrlPath="conference-schedule"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="People" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Tickets" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Tasks" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Me" tabIcon="information-circle"></ion-tab>
  
</ion-tabs>
