<!--
  Generated template for the PeoplePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>people</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <section class="members forth_page">
        <div class="home-one page_conversation">
        <h4 class="client-hdng-title">Recent Conversations</h4>
        <div class="conver_top-text-section">

          
        
            <ul>
                <li *ngFor="let client of clients" (click)="viewclient()">
                    <div class="conver_sations">
        <div class="image_client">
        <img src="http://139.59.3.57/psd/seamless/images/linda-big.png">
        </div>
        
        <div class="image_name">
         <h4>{{client}}</h4>
         <p class="client-para">SIMPLY CHAT</p>
        </div>
        
      </div>
        </li></ul>
        


                
        </div></div>
      
        <div class="tabs">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" id="#home" class="clientt-team">Clients</a></li>
              <li><a data-toggle="tab" id="#menu1" class="team">Team</a></li>
            </ul>
            </div>


            <div class="tab-content">
                <div id="home" class="tab-pane in active">
                <div class="home-one">
              <h4 class="home-name home-name2"><span class="ion ion-chevron-right arrow-straight" style="display:none;"></span><span class="ion ion-chevron-down arrow-down" ></span>Home name 1</h4>
              <h4 class="next-delivery">DELIVERY DATES</h4>
              
              
              <div class="tab111">

                <ul>
<li *ngFor="let client of clients" (click)="viewclient()">

                
                
              <div class="members-access">
              <a href="client-details.html">
              <div class="img_name">
              <img src="images/eugene.png"> <h4>SHUBAM</h4>
              </div>
              </a>
              </div>
            </li>
          </ul>
              
             
              
         
              
              </div>
              </div>
              </div>




<div id="team" class="tab-pane fade">

    <ul>
        <li *ngFor="let client of clients" (click)="viewclient()">
    
    <div class="img_name">
	<a href="team-member-convo.html"><img src="images/matthew.png"><h4>{{client}}</h4></a>
	</div>
   </li></ul>
  
    
  </div>


</div>








          
            
      
      
      
      </section>
        

  

</ion-content>
