<!--
  Generated template for the ClientdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>clientdetails</ion-title>
  </ion-navbar>

</ion-header>
<style>
    .bottom-section {
      position: inherit;
    }
    body {
      padding-top: 72px!important;
    }
    body{
    padding:0;
    }
    .client-details {
      padding: 8px 12px 0;
    }
    .clientt h4 {
      margin: 11px 0 0;
    }
    .search-btn {
      top: -42px;
      right: -3px;
    }
    .search .text-field.show-field {
      margin-bottom: 12px;
    }
    .upload-icon.common-class > button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        outline: medium none;
    }
    .search input[type="text"] {
      right: 11px;
      width: 96%;
    }
    .upload-icon.common-class > input {
      background-color: rgba(0, 0, 0, 0);
      background-image: url("images/upload-icon.png");
      background-repeat: no-repeat;
      background-size: 63% auto;
      height: 30px;
      position: relative;
      right: 0;
      text-indent: -999px;
      width: 30px;
      z-index: 2147483647;
    }
    .img_name.upload .text.common-class.linda_photo {
      text-align: center;
      width: 54%!important;
    }
    </style>
    


<ion-content padding>

  
<section class="members details conditions">
    <div class="members-access account-members-access">
    <div class="img_name upload">
    <div class="img common-class linda_profile"><img src="images/linda-big.png"></div>
    <div class="text common-class linda_photo"><h4 class="take">Take Picture / Upload</h4></div>
    <!-- <div class="upload-icon common-class"><button type="button" data-toggle="modal" data-target="#myModal"><img src="images/upload-icon.png"></button></div> -->
    <div class="upload-icon common-class"><input type="file"></div>
    <div id="myModal" class="modal fade" role="dialog" style="display: none;">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
         <h4 class="modal-title">Select image</h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
           
          </div>
          <div class="modal-body">
            <input type="file">
        
          </div>
        <div class="modal-footer">
            <div class="upload_btn"><a class="upload_img" href="javascript:;">Uplode image</a></div>
            <div class="clearfix"></div>
            <p class="display_on_click" style="display:none;">Your image has been uploaded successfully.</p>
          </div>
        </div>
    
      </div>
    </div>
    </div>
    
    
    <div class="img_name upload with_name common-text">
    <div class="img common-class"><h4>Name</h4></div>
    <div class="text common-class"><h4 class="take">Linda Lane</h4></div>
    </div>
    
    <div class="img_name upload with_name email common-text">
    <div class="img common-class"><h4>Allergies</h4></div>
    <div class="text common-class"><h4 class="take">Peanut Butter, Corn</h4></div>
    </div>
    
    <div class="img_name upload with_name password common-text">
    <div class="img common-class"><h4>Conditions</h4></div>
    <div class="text common-class"><h4 class="take">Diabetes, High Cholesterol</h4></div>
    </div>
    
    <div class="img_name upload with_name note common-text">
    <div class="img common-class"><h4>Note</h4></div>
    <div class="text common-class"><h4 class="take">Color blind, take care of when givin.</h4></div>
    </div>
    </div>
    
    </section>


    <div class="icons-order-section">
        <div class="col-xs-4 col-sm-3 m-b-20px" >
          <a (click)="emr()" class="gry-color"><img src="http://139.59.3.57/psd/seamless/images/cloc.png">
          <h2>eMARS</h2></a>
        </div>
        <div class="col-xs-4 col-sm-3 m-b-20px">
          <a (click)="reorder()" class="ion-clock">
          <h2>ReOrder</h2></a>
        </div>
        <div class="col-xs-4 col-sm-3 m-b-20px">
          <a (click)="clienttickets()" class="ion-ios-chatboxes">
          <h2>Tickets</h2></a>
        </div>
        <div class="col-xs-4 col-sm-3 m-b-20px">
          <a (click)="events()" class="ion-document">
          <h2>Documents**</h2></a>
        </div>
        <div class="col-xs-4 col-sm-3 m-b-20px">
          <a (click)="events()" class="ion-ios-information-outline">
          <h2>Events</h2></a>
        </div>
        <div class="col-xs-4 col-sm-3 m-b-20px">
          <a (click)="emr()" class="gry-color"><img src="images/calander.png">
          <h2>Appoinments**</h2></a>
        </div>
        <div class="col-xs-4 col-sm-3">
          <a (click)="emr()" class="gry-color"><img src="images/phar.png">
          <h2>Pharmacist Corner**</h2></a>
        </div>
        <div class="col-xs-4 col-sm-3">
          <a (click)="emr()" class="gry-color"><img src="images/graph.png">
          <h2>Health Graphs**</h2></a>
        </div>
      </div>
      
    

  

</ion-content>
