<!--
  Generated template for the EmrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>emr</ion-title>
  </ion-navbar>

  <style>
    body {
      padding-top: 73px!important;
    }
    header{
    padding: 30px 10px 0;
     border-bottom: medium none rgba(0, 0, 0, 0);
    }
    body{
    padding:0;
    }
    .client.caree {
      padding: 0;
    }
    .img_ticket > h3 {
      font-weight: normal;
    }
    .text_ticket > p {
      font-size: 12px;
    }
    .check-box {
      margin-top: 23px;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
      font-size: 0;
    }
    .pill-name {
      width: 80%;
    }
    .approvedd {
      width: 20%;
    }
    
    .tabs .nav.nav-tabs li a {
      margin: 0;
    }
    .members.forth_page {
      padding: 0 0 30px;
    }
    </style>
    



</ion-header>


<ion-content padding>

      <section class="members forth_page" id="emr">
            <div class="home-one page_conversation">
            <h6 class="home-name new-homename">Regular Meds</h6>
            <div class="tabs">
            <ul class="nav nav-tabs emr-tabs" style="padding:0px;">
              <li class="active"><a data-toggle="tab" href="#home" class="bymed">By Med</a></li>
              <li><a data-toggle="tab" href="#menu1" class="bypass">By PassTime</a></li>
            </ul>
            
            <div class="tab-content tasks_ticket no-padding">
              <div id="home" class="tab-pane in active">
                
                        <div class="pill-sideimg-title" style="margin-top: 10px;">
                        <span class="pill-img"><img src="images/first-pill.png"></span><p class="pill-title">Clonazepam 0.5mg<span class="ion ion-chevron-right arrow-straight" style="display:none;"></span><span class="ion ion-chevron-down arrow-down" ></span></p>
                              <ul class="pill-name-img" style="display: none;">
                              <li>
                              <span class="pill-name">1 Tablet at 8 am (0800)</span><a class="approvedd" href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check checkk"></div></div></a>
                              </li>
                              <li>
                              <span class="pill-name">1 Tablet at 12 pm (1200)</span><a class="approvedd" href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check checkk"></div></div></a>
                              </li>
                              <li>
                              <span class="pill-name">1 Tablet at 6 pm (1800)</span><a class="approvedd" href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check checkk"></div></div></a>
                              </li>
                              </ul>
                        </div>
                        <div class="pill-sideimg-title">
                        <span class="pill-img"><img src="images/second-pill.png"></span><p class="pill-title">Metformin 500 mg<span class="ion ion-chevron-right arrow-straight" style="display:none;"></span><span class="ion ion-chevron-down arrow-down" ></span></p>
                        
                              <ul class="pill-name-img" style="display: none;">
                              <li>
                              <span class="pill-name">1 Tablet at 8 am (0800)</span><a class="approvedd" href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check checkk"></div></div></a>
                              </li>
                              </ul>
                        </div>
                        <div class="pill-sideimg-title">
                        <span class="pill-img"><img src="images/third-pill.png"></span><p class="pill-title">Lorazepam 0.5mg<span class="ion ion-chevron-right arrow-straight" style="display:none;"></span><span class="ion ion-chevron-down arrow-down" ></span></p>
                              <ul class="pill-name-img" style="display: none;">
                              <li style="border-left:15px solid #7ed321">
                              <span class="pill-name">1 Tablet at 12 am (2400)</span><a class="approvedd" href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check checkk"></div></div></a>
                              </li>
                              </ul>
                        </div>
                  
                   
                  <div class="reorder reorderr">
            <a href="Administer-Meds.html">Administer Meds</a>
            </div>
                  <div class="tab-title">
                        <div class="tasks-title">
                        <h6 class="home-name new-homename">Standing Orders</h6>
                        </div>
                        <!-- <div class="main-edit-btn"> -->
                              <!-- <a href="#" class="edit-btn"><span class="ion ion-edit"></span></a> -->
                        <!-- </div> -->
                        
                  </div>
                  <div class="Standing-section">
                        <section class="members details team-member tasks_ticket emr">
                        
            
                        <div class="tickets" style="border-left: 15px solid #4a90e2;border-bottom:1px solid #d5d5d5;margin-top: 10px;">
                        <div class="standong-order-left-sect">
                        <div class="img_ticket">
                        <h3>Change Constience Product</h3>
                        </div>
                        <div class="text_ticket">
                        <div class="standong-order-img">
                        <img src="images/roberts.png">
                        </div>
                        <p class="standong-order-text">Complete at 8 am (0800)</p>
                        </div>
                        </div>
                        <div class="standong-order-right-sect">
                              <a href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check checkk"></div></div></a>
                        </div>
                        </div>
                        <div class="tickets">
                        <div class="standong-order-left-sect">
                        <div class="img_ticket">
                        <h3>Brush Teeth</h3>
                        </div>
                        <div class="text_ticket">
                        <div class="standong-order-img" style="opacity:0;">
                        <img src="images/roberts.png">
                        </div>
                        <p class="standong-order-text">Due at 12pm (1200)</p>
                        </div>
                        </div>
                        <div class="standong-order-right-sect">
                              <a href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check checkk"></div></div></a>
                        </div>
                        </div>
                        
                        
                  <div class="reorder reorderr">
            <a href="#">Complete Orders</a>
            </div>
            
            
                        </section>
                  </div>
                  <div class="tab-title">
                        <h6 class="home-name new-homename">PRNs</h6>
                  </div>
                  <section class="prns">
                         <div class="pill-sideimg-title" style="margin: 10px 0px;" >
                  <li>
                        <span class="pill-img" style=" padding-top: 6px;"><img src="images/third-pill.png"></span><div class="pill-title prnss"><strong>Lorazepam 2 mg</strong><p>Dr . A . Homested</p><p>Take One table By mouth Twice daily</p></div>
                        <a class="approveddd" href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check"></div></div></a>
                        </li>
                  </div>
                   <div class="pill-sideimg-title">
                   <li>
                        <span class="pill-img" style=" padding-top: 6px;"><img src="images/third-pill.png"></span><div class="pill-title prnss"><strong>Tylenol 3</strong><p>Dr Z McMillian </p><p>Take one tablet daily when needed</p></div>
                        <a class="approveddd" href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check"></div></div></a>
                        </li>
                  </div>
                  </section>
                  <a class="btn Admister-btn" href="Events.html">Administer Meds</a>
              </div>
              
              
              
              
               <div id="menu1" class="tab-pane" style="display: none;">
                <div class="pill-sec-names">
                        <div class="pill-sideimg-title" style="margin-top: 10px;">
                        <p class="pill-title">At 8 am (0800)<span class="ion ion-chevron-right arrow-straight" style="display:none;"></span><span class="ion ion-chevron-down arrow-down" ></span></p>
                              <ul class="pill-name-img" style="display: none;">
                              <li><span class="pill-img"><img src="images/first-pill.png"></span>
                              <span class="pill-name">1 Tablet Clonazepam</span><a class="approvedd" href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check checkk"></div></div></a>
                              </li>
                              <li><span class="pill-img"><img src="images/first-pill.png"></span>
                              <span class="pill-name">2 Tablet Metformin</span><a class="approvedd" href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check checkk"></div></div></a>
                              </li>
                              <li><span class="pill-img"><img src="images/first-pill.png"></span>
                              <span class="pill-name">3 Tablet Lorazepam</span><a class="approvedd" href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check checkk"></div></div></a>
                              </li>
                              </ul>
                        </div>
                        <div class="pill-sideimg-title">
                        <p class="pill-title">At 12 am (2400)<span class="ion ion-chevron-right arrow-straight" style="display:none;"></span><span class="ion ion-chevron-down arrow-down" ></span></p>
                        
                              <ul class="pill-name-img" style="display: none;">
                              <li>
                              <span class="pill-img"><img src="images/second-pill.png"></span>
                              <span class="pill-name">1 Tablet Metformin</span><a class="approvedd" href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check checkk"></div></div></a>
                              </li>
                              <li><span class="pill-img"><img src="images/second-pill.png"></span>
                              <span class="pill-name">2 Tablet Lorazepam</span><a class="approvedd" href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check checkk"></div></div></a>
                              </li>
                              </ul>
                        </div>
                        <div class="pill-sideimg-title">
                        <p class="pill-title">At 6 pm (1800)<span class="ion ion-chevron-right arrow-straight" style="display:none;"></span><span class="ion ion-chevron-down arrow-down" ></span></p>
                              <ul class="pill-name-img" style="display: none;">
                              <li>
                              <span class="pill-img"><img src="images/third-pill.png"></span>
                              <span class="pill-name">1 Tablet Lorazepam</span><a class="approvedd" href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check checkk"></div></div></a>
                              </li>
                              </ul>
                        </div>
                        </div>
                  
                   <div class="reorder reorderr">
            <a href="Administer-Meds.html">Administer Meds</a>
            </div>
                  
                  <div class="tab-title">
                  <div class="tasks-title">
                        <h6 class="home-name new-homename">Standing Orders</h6>
                        </div>
                        <!-- <div class="main-edit-btn"> -->
                              <!-- <a href="#" class="edit-btn"><span class="ion ion-edit"></span></a> -->
                        <!-- </div> -->
                  </div>
                  <div class="Standing-section">
                        <section class="members details team-member tasks_ticket emr">
                        <div class="tickets" style="border-left: 15px solid #4a90e2;border-bottom:1px solid #d5d5d5;margin-top: 10px;">
                        <div class="standong-order-left-sect">
                        <div class="img_ticket">
                        <h3>Change Constience Product</h3>
                        </div>
                        <div class="text_ticket">
                        <div class="standong-order-img">
                        <img src="images/roberts.png">
                        </div>
                        <p class="standong-order-text">Complete at 8 am (0800)</p>
                        </div>
                        </div>
                        <div class="standong-order-right-sect">
                              <a href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check checkk"></div></div></a>
                        </div>
                        </div>
                        <div class="tickets">
                        <div class="standong-order-left-sect">
                        <div class="img_ticket">
                        <h3>Brush Teeth</h3>
                        </div>
                        <div class="text_ticket">
                        <div class="standong-order-img" style="opacity:0;">
                        <img src="images/roberts.png">
                        </div>
                        <p class="standong-order-text">Due at 12pm (1200)</p>
                        </div>
                        </div>
                        <div class="standong-order-right-sect">
                              <a href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check checkk"></div></div></a>
                        </div>
                        </div>
                        </section>
                        <div class="reorder reorderr">
            <a href="#">Complete Orders</a>
            </div>
                  </div>
                  <div class="tab-title">
                        <h6 class="home-name new-homename">PRNs</h6>
                  </div>
                  <section class="prns">
                         <div class="pill-sideimg-title" style="margin: 10px 0px;" >
                  <li>
                        <span class="pill-img" style=" padding-top: 6px;"><img src="images/third-pill.png"></span><div class="pill-title prnss"><strong>Lorazepam 2 mg</strong><p>Dr . A . Homested</p><p>Take One table By mouth Twice daily</p></div>
                        <a class="approveddd" href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check"></div></div></a>
                        </li>
                  </div>
                   <div class="pill-sideimg-title">
                   <li>
                        <span class="pill-img" style=" padding-top: 6px;"><img src="images/third-pill.png"></span><div class="pill-title prnss"><strong>Tylenol 3</strong><p>Dr Z McMillian </p><p>Take one tablet daily when needed</p></div>
                        <a class="approveddd" href="javascript:;"><div class="check-box"><input class="okay-btn" name="tst" type="checkbox"><div class="check"></div></div></a>
                        </li>
                  </div>
                  </section>
                  <button>Administer Meds.. PASSWORD PROTECTED</button>
              </div>
            
            </div>
                  
            </div>
            
            
            
            
            </div>
            </section> 
            
</ion-content>
