<!--
  Generated template for the MePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>me</ion-title>
  </ion-navbar>

</ion-header>

<style>
  body{
  padding:0px;
  }
  .img_name.with_name h4 {
    font-size: 18px;
  }
  body {
    padding-top: 39px;
  }
  .upload-icon.common-class > button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
     outline: medium none;
  }
  .img_name.upload.with_name.password.common-text > input {
    border: 1px solid;
    border-radius: 7px;
    color: #c5c5c5;
    float: left;
    font-family: sans-serif;
    font-size: 19px;
    height: 43px;
    padding-left: 8px;
    text-transform: capitalize;
    width: 50%;
  }
  .text.common-class.sub-btn > a {
    float: left;
    width: 100%;
  }
  .img_name.upload.common-text .text.common-class.sub-btn {
    float: inherit;
    margin: 0 auto 0 23px;
    width: 91%!important;
  }
  .text.common-class > a {
    margin: 0;
  }
  .upload-icon.common-class > input {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("images/upload-icon.png");
    background-repeat: no-repeat;
    background-size: 63% auto;
    height: 30px;
    position: relative;
    right: 0;
    text-indent: -999px;
    width: 30px;
    z-index: 2147483647;
  }
  .img_name.upload .text.common-class.linda_photo {
    text-align: center;
    width: 54%!important;
  }
  
  </style>
  


<ion-content padding>

    <div>
        <label>SENDER : </label><input type="text" [(ngModel)]="sender" >
        <label>RECEIVER : </label><input type="text" name="receiver" >
        <label>MESSAGE : </label><input type="text" name="message" >
        <input type="submit" value="submit" (click)="send()" > 
      </div>
      <br><br>

      <div>
        <input type="file"><input type="submit" (click)="upload($event)">
      </div>


    <section class="members details">
        <div class="members-access">
        <div class="img_name upload">
        <div class="img common-class linda_profile"><img src="images/linda-big.png" /></div>
        <div class="text common-class linda_photo"><h4 class="take">Take Picture / Upload</h4></div>
        <!-- <div class="upload-icon common-class"><button type="button" data-toggle="modal" data-target="#myModal"><img src="images/upload-icon.png" /></button></div> -->
        <div class="upload-icon common-class"><input type="file"></div>

        </div>
        
        
        <div class="img_name upload with_name common-text">
        <div class="img common-class"><h4>Name</h4></div>
        <div class="text common-class"><input type="text"></div>
        </div>
        
        <div class="img_name upload with_name email common-text">
        <div class="img common-class"><h4>Email</h4></div>
        <div class="text common-class"><h4 class="take"><input type="text"></h4></div>
        </div>
        
        <div class="img_name upload with_name password common-text">
        <div class="img common-class"><h4>Password</h4></div>
        <div class="text common-class"><a href="javascript:;" class="pas-btn">Edit</a>
          <a class="button icon-right icon ion-ios7-paper-outline button-clear button-dark">News</a>
        </div>
        </div>
        
        <div class="pass-sec" style="display:none;">
        <div class="img_name upload with_name password common-text">
        <div class="img common-class"><h4>Old Password</h4></div>
        <div class="text common-class"><input type="text" class="old pass" placeholder="Enter Old Password"></div>
        </div>
        <div class="img_name upload with_name password common-text">
        <div class="img common-class"><h4>New Password</h4></div>
        <div class="text common-class"><input type="text" class="old pass" placeholder="Enter New Password"></div>
        </div>
        <div class="img_name upload with_name password common-text sub-btnn account_success">
        <div class="text common-class sub-btn"><a href="javascript:;" class="suces-btn">Submit</a></div>
        
  
        
        
        </div>
        <div class="img_name upload with_name password common-text message-sucee" style="display:none;">
        <div class="text common-class sub-btn"><p>The password has been updated successfully.</p></div>
        </div>
        </div>
        
        <div class="img_name upload with_name password common-text">
        <div class="img common-class"><h4>Email Med Changes</h4></div>
        <div class="text common-class switch-icon">
        <div class="switch">
        <form>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
        </form>
        </div>
        </div>
        </div>
        
        <div class="img_name upload with_name password common-text">
        <div class="img common-class"><h4>Email New Tickets</h4></div>
        <div class="text common-class switch-icon">
        <div class="switch">
        <form>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
        </form>
        </div>
        </div>
        </div>
        
        </div>
        </section>
        

</ion-content>
