<!--
  Generated template for the TasksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>tasks</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <section class="members details team-member tasks_ticket">
        <div class="tickets">
<ul><li *ngFor="let task of tasks" (click)= "gettasks()">

        <div class="img_ticket tasks-page-img-tickets">
        <img src="http://139.59.3.57/psd/seamless/images/linda-big.png">
        </div>
      
        <div class="text_ticket">
        <h3 class="task-small-title">{{task}}</h3>
        <p class="task-parg">Past due by 2 hours.</p>
        <div class="check-box task-page-checkbox"><input class="okay-btn" name="tst" type="checkbox"><div class="check"></div></div>
        </div>
        
        
        
        
      </li></ul>
        </div>
        
       
      
        
        </section>
        

</ion-content>
