<!--
  Generated template for the NewsfeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>newsfeed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <section class="members alltickets_members">
        
  
  
  
          <div class="tickets">
              <ul><li *ngFor="let people of peoples" (click)="chat()">
  
          <div class="img_ticket">
          <img src="http://139.59.3.57/psd/seamless/images/linda-big.png" />
          </div>
          <div class="text_ticket">
         
          <h3>{{people}}</h3>
          <span class="days">></span>
          <p class="alltick-text">Please reply with message..... </p>
          
          </div>
        </li></ul>
          </div>
  
        
          
  
          
        
          
  
          
          </section>

</ion-content>
