<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>events</ion-title>
  </ion-navbar>

  <div class="client tickets_head newhead"><div class="clint-img"><img src="images/linda-big.png"></div><h4 class="medi-title">Linda<br>Documents</h4></div>
  <div class="client plus"><a (click)="newticket()"><span class="ion ion-android-add">ADD</span></a></div>
  

</ion-header>


<ion-content padding>

    
        <div class="tab-content tasks_ticket no-padding">
            <section class="client-ticket-members">
        
        <div class="document-section">
            <ul class="cal-bar">
                <img src="http://139.59.3.57/psd/seamless/images/events-graph.png" class="img-responsive">
              </ul>
              <ul>
              <li class="ion-android-checkmark-circle">SleepEvent</li>
              <li><img src="images/black-icon.png">Menstruaurin</li>
              <li><img src="images/green-icon.png">PRN</li>
              <li><img src="images/black-icon.png">Urin Discharge</li>
              <li><img src="images/blue-icon.png">Emerg Visit</li>
              <li><img src="images/purple-icon.png">Seizure</li>
              <li class="unique"><img src="images/brown-icon.png"><span>Bowel Movement</span></li>
              <li><img src="images/black-icon.png">Behavior</li>
              <li><img src="images/black-icon.png">Falls</li>
              </ul>
           </div>   
              <div class="evnts-dtls">
                <h3>Events Details</h3>
              </div>


              <div class="tickets">
                <div class="img_ticket">
              <img src="http://139.59.3.57/psd/seamless/images/gracia.png">
              </div>
              <a href="javascript:void(0);" class="client-tickets-click">
              <div class="text_ticket">
              <h3>Fall </h3>
              <span class="days">1 day ago</span>
              <p>The client fell while trying to go upstairs he seems fine but I will monitoe for..</p>
              </div>
              </a>
              </div>


              <div class="tickets">
                <div class="img_ticket">
                <img src="http://139.59.3.57/psd/seamless/images/gracia.png">
                </div>
              <a href="javascript:void(0);" class="client-tickets-click">
              <div class="text_ticket">
              <h3>Seizure</h3>
              <span class="days">1 monts ago</span>
              <p>Client experience a seizure today and lasted for 10 seconds.</p>
              </div>
              </a>
              </div>




              
              </section>
              </div>
                      

</ion-content>
