<!--
  Generated template for the NewTicketPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>new-ticket</ion-title>
  </ion-navbar>

  <div class="client tickets_head newhead"><img src="images/linda-big.png"><h4 class="medi-title medi-titlenew-ticket">New Ticket</h4></div>
  

</ion-header>


<ion-content padding>

    <div class="col-md-12 col-xs-12 new-tickets">
        <div class="col-xs-12 new-tickets-title" style="padding:0px;">
        <h3><a href="client-ticket-details.html" style="color:#333333;">What would you like to do?</a></h3>
        </div>
        <div class="col-md-12 col-xs-12 text-left new-ticketss">
        <p><a href="reorder.html">Re-Order Meds / Change Autofill</a></p>
        <p>Speak with a Pharmacist</p>
        <p>Request Spares</p>
        </div>
        </div>
        <div class="col-md-12 col-xs-12 new-ticket-bottom">
          <p>General tion</p>
        </div>
        
        

</ion-content>
