<!--
  Generated template for the ClientTicketsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

  <div class="client tickets_head newhead"><img src="http://139.59.3.57/psd/seamless/images/linda-big.png"><h4 class="medi-title">Linda l's<br>Medication</h4></div>
  <div class="client plus"><a (click)="newticket()"><span class="ion ion-android-add">ADD</span></a></div>
  

</ion-header>


<ion-content padding>

    <section class="client-ticket-members">
        <div class="tickets">
        <div class="img_ticket">
        <img src="images/adam.png" />
        </div>
        <a href="client-ticket-details.html" class="client-tickets-click">
        <div class="text_ticket">
        <h3 style="color:#333333;">Adam Gray</h3>
        <span class="days">2h</span>
        <p>This is a sample message that crosses over in two lines and goes on for a while. </p>
        </div>
        </a>
        </div>
        
        <div class="tickets">
        <div class="img_ticket">
        <img src="images/gracia.png" />
        </div>
        <a href="client-ticket-details.html" class="client-tickets-click">
        <div class="text_ticket">
        <h3>Eugene Garcia</h3>
        <span class="days">10h</span>
        <p>This is a sample message that crosses over in two lines and goes on for a while. </p>
        </div>
        </a>
        </div>
        </section>
        

</ion-content>
