<!--
  Generated template for the ChatWindowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>chat-window</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


	<div class="person-one common-person" *ngFor="let hero of heroes">
	    <div class="message-box">
		<p>{{ hero.name }}
		</p>
		<span>{{today | date:'short'}}</span>
	    
		<span>USER 1</span><button (click)="onEdit(hero)">-Edit-</button>
	</div></div>

	<div class="person-two common-person" *ngFor="let msg2 of messages2">
	    <div class="message-box">

    <p>{{msg2.name}}</p>
    <span>{{today | date:'short'}}</span>
	    
		<span>USER 2</span><button (click)="onEdit2(msg2)">-Edit-</button>
  </div></div>
  







	<label class="item item-input item-floating-label">
	    <span class="input-label">type your message here</span>
	    <input type="text" placeholder="message..." [(ngModel)]="heroName">
	</label>

	<button class="button button-full button-assertive" (click)="send_message1()">SEND</button>
	<br><br>
	
	<label class="item item-input item-floating-label">
	    <span class="input-label">type your message here</span>
	    <input type="text" placeholder="USER 2" [(ngModel)]="inputmessage">
	</label>

	<button class="button button-full button-assertive" (click)="send_message2()">SEND</button>

</ion-content>
